<h1 mat-dialog-title class="text-center">{{inputdata.title}}</h1>

<div class="container" *ngIf="checkSessionData">
 <fieldset>
  <form [formGroup]="articleForm" (ngSubmit)="onSubmit()">
   <div class="form-group">
    <label><span class="req">*</span> Nom Article </label>
    <input class="form-control" type="text" formControlName="nomArticle" placeholder="entrer le nom article"/>
   </div>
   <div class="form-group">
    <label><span class="req">*</span> Prix </label>
    <input class="form-control" type="text" formControlName="prix" placeholder="entrer le prix article"/>
   </div>
    <div class="form-group">
      <label><span class="req">*</span> Description </label>
      <textarea class="form-control" type="text" formControlName="description" placeholder="entrer la description"></textarea>
    </div>
      <label><span class="req">*</span> Catégorie </label>
      <select  class="form-select" formControlName="categorie">
        <option *ngFor="let categorie of categories" value="{{categorie.idCategorie}}">{{categorie.nomCategorie}}</option>
      </select>
      <div class="form-group">
          <label for="image">Select Image:</label>
          <input type="file" id="image" name="image" (change)="handleImageUpload($event)" accept="image/*" required formControlName="images">
      </div>
      <div class="form-group">
    <button type="submit" mat-raised-button color="primary">Ajouter</button>
    <button (click)="closepop()" mat-raised-button color="warn">close</button>
   </div>
  </form>
 </fieldset>
</div>
