<h1 mat-dialog-title class="text-center">{{inputdata.title}}</h1>

<div class="container">
 <fieldset>
  <form [formGroup]="articleForm">
   <div class="form-group">
    <label><span class="req">*</span> Nom Article </label>
    <input class="form-control" type="text" formControlName="nom" placeholder="entrer le nom article"/>
   </div>
   <div class="form-group">
    <label><span class="req">*</span> Prix </label>
    <input class="form-control" type="text" formControlName="prix" placeholder="entrer le prix article"/>
   </div>
    <div class="form-group">
      <label><span class="req">*</span> Description </label>
      <textarea class="form-control" type="text" formControlName="description" placeholder="entrer la description"></textarea>
    </div>
      <label><span class="req">*</span> Catégorie </label>
      <select  class="form-select" formControlName="categorie">
        <option *ngFor="let categorie of categories" value="{{categorie.idCategorie}}">{{categorie.nomCategorie}}</option>
      </select>
   <div class="form-group">
    <button (click)="createNow()" mat-raised-button color="primary">Ajouter</button>
    <button (click)="closepop()" mat-raised-button color="warn">close</button>
   </div>
  </form>
 </fieldset>
</div>
