<!--
<div class="container">
  <fieldset>
    <form>
      <div class="form-group">
        <label><span class="req">*</span> Nom Article </label>
        <input class="form-control" type="text" [(ngModel)]="nomArticle" name="nomP" id="nomP"
               placeholder="entrer le nom article"/>
      </div>
      <div class="form-group">
        <label><span class="req">*</span> Nom Article </label>
        <input class="form-control" type="text" [(ngModel)]="prixArticle" name="prix" id="prix"
               placeholder="entrer le prix article"/>
      </div>

      <div class="form-group">
        <input class="btn btn-success" type="submit" name="submit_reg" value="Update"
               >
      </div>
    </form>
  </fieldset>
</div>
-->
