<app-nav></app-nav>
<div class="col-md-6 col-lg-4 offset-lg-4 offset-md-3 mt-5">
    <div class="bg-light p-5 border shadow">
        <!-- Login Form -->
        <form [formGroup]="authForm">
            <div class="mb-4">
                <input type="email" class="form-control" placeholder="Username/Email" formControlName="username">
                <p class="form-text text-end">Enter Valid Username/Email</p>
            </div>
            <div class="mb-4">
                <input type="password" class="form-control" placeholder="Enter Password" formControlName="password" >
                <p class="form-text text-end">Enter Valid Password</p>
            </div>
            <div class="mb-4 form-check w-100">

                <a href="#" class="float-end">Reset Password</a>
            </div>
            <button type="submit" class="btn btn-primary w-100 my-3 shadow" (click)="login()">Login</button>
            <p class="text-center m-0">Not yet account, <a routerLink="/register">Please Signup</a></p>
        </form>
        <!-- Login Form -->
    </div>
</div>
