<div *ngIf="!checkSessionData()">
<ul class="nav nav-pills nav-fill gap-2 p-1 small bg-primary rounded-5 shadow-sm" id="pillNav2" role="tablist" style="--bs-nav-link-color: var(--bs-white); --bs-nav-pills-link-active-color: var(--bs-primary); --bs-nav-pills-link-active-bg: var(--bs-white);">
  <li class="nav-item" role="presentation">
    <button class="nav-link active rounded-5" id="home-tab2" data-bs-toggle="tab" type="button" role="tab"  aria-selected="true" (click)="goToList()">Home</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link rounded-5" id="contact-tab2" data-bs-toggle="tab" type="button" role="tab" aria-selected="false">Contact</button>
  </li>

  <li class="nav-item" role="presentation">
    <button class="nav-link rounded-5" id="inscrire-tab2" data-bs-toggle="tab" type="button" role="tab" aria-selected="false" (click)="goToRegister()"> Inscrire</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link rounded-5" id="connec-tab2" data-bs-toggle="tab" type="button" role="tab" aria-selected="false" (click)="goToLogin()">Conexion</button>
  </li>

</ul>
</div>

<div *ngIf="checkSessionData()">
<ul class="nav nav-pills nav-fill gap-2 p-1 small bg-primary rounded-5 shadow-sm" id="1" role="tablist" style="--bs-nav-link-color: var(--bs-white); --bs-nav-pills-link-active-color: var(--bs-primary); --bs-nav-pills-link-active-bg: var(--bs-white);">
  <li class="nav-item" role="presentation">
    <button class="nav-link active rounded-5" id="2" data-bs-toggle="tab" type="button" role="tab"  aria-selected="true" (click)="goToList()">Home</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link rounded-5" id="02" data-bs-toggle="tab" type="button" role="tab" aria-selected="false" (click)="goToProfil()">Profile</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link rounded-5" id="3" data-bs-toggle="tab" type="button" role="tab" aria-selected="false">Contact</button>
  </li>

  <li *ngIf="userConnecte" class="nav-item" role="presentation">
    <i class="far fa-circle-user"></i>

    <p style="color:white;margin-top: 3%;text:gras" data-bs-toggle="tab">{{user.firstname}} {{user.lastname}}</p>

  </li>

  <li class="nav-item" role="presentation">
    <button class="nav-link rounded-5" id="4" data-bs-toggle="tab" type="button" role="tab" aria-selected="false" (click)="logout()">Logout</button>
  </li>
</ul>
</div>

