<app-nav></app-nav>
<br>

<button style="left: 70%" (click)="openup()" mat-raised-button color="primary">+Ajouter un article pour vendue</button>
<br>
<br>
<app-imagelist></app-imagelist>
<div class="container d-flex flex-wrap">
<div class="product-container">
    <div *ngFor="let produit of produits" class="card-group product" >
        <br>
        <div class="d-lg-inline-flex">
            <div class="card w-100 h-250">
                <img *ngIf="produit?.imageBase64" [src]="produit?.imageBase64" class="card-img-top w-100 h-100" alt="...">
                <img *ngIf="!produit?.imageBase64" src="assets/noImage.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-title">{{ produit?.nomArticle }}</h3>
                    <h5 class="card-text">Description: {{produit?.description}}</h5>
                    <h5 class="card-text">Prix:{{ produit?.prix }} DT</h5>
                </div>
                <div style="text-align: center" class="justify-content-md-around">
                    <button mat-raised-button color="accent" (click)="opendetaille(produit.idArticle)">Commander
                    </button>
                </div>
                <br>
            </div>
        </div>
        <br>
    </div>
    <br>
</div>
</div>
<br>


