.body {
  background-image: url('https://previews.123rf.com/images/indigodiamond/indigodiamond2004/indigodiamond200400026/145896850-shopping-seamless-pattern-line-art-shopping-cart-bag-and-basket-on-white-background-e-commerce.jpg'); /* Remplacez par le chemin de votre image */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
