<app-nav></app-nav>
<br>
<br>
<div class="card mb-5" style="max-width: 600px; margin-left: 30%">
    <div class="row g-0">
        <div class="col-md-4">
            <img *ngIf="article?.imageBase64" [src]="article?.imageBase64"  class="img-fluid" alt="...">
            <img *ngIf="!article?.imageBase64" src="assets/noImage.jpg" class="img-fluid" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h2 class="card-title">{{article.nomArticle}}</h2>
                <p class="card-text">Description :
                    {{article.description}}
                </p>
                <h4 class="card-text"> Prix :
                    {{article.prix}}DT
                </h4>
              <button mat-raised-button style="color: blue" (click)="commander(article.idArticle)">commander</button>
            </div>
        </div>
    </div>
</div>
